$header-height: 60px
$navbar-width: 240px

$text-color: #6e6e6e

.headerContainer
  height: $header-height
  // border-bottom: 1px solid #e0e0e0

.fullHeght
  height: 100%

.autoHeightContainer
  position: absolute
  top: $header-height
  bottom: 0
  left: 0
  right: 0

.logoContainer
  max-width: $navbar-width
  font-size: 2.1em
  background-color: #fff

.navbarContiner
  max-width: $navbar-width
  color: $text-color
  padding-right: 0px
  padding-left: 0px

.textStart
  color: #5d7fd7

.textMail
  color: #f14f4f

.title
  font-size: 2.2em
  color: #303949

.mainContainer
  background-color: #dcdcdc

.menuItem
  color: inherit
  display: block
  padding-right: 15px
  padding-left: 15px
  line-height: 2.5em
  font-weight: bold
  cursor: pointer
  background-color: #f0f0f0
  transition: background-color 300ms linear;

  &:hover
    background-color: #dfdfdf
    transition: background-color 200ms linear;

.menuItemActive 
  background-color: #d8e5f9
  color: #303949
  cursor: default
  &:hover
    background-color: #d8e5f9

.devider
  height: 1px
  background-color: #dfdfdf

.menuAnchor
  color: ihnerit

