@import '../assets/colors.sass';

.grid
  height: 100%
  overflow-y: auto
  overflow-x: none
  font-size: 0.9em
  background-color: #fff

.row
  border-bottom: 1px solid #dcdcdc
  padding-top: 5px
  padding-bottom: 5px
  cursor: pointer
  transition: background-color 200ms linear;
  background-color: #fff

  &:hover
    background-color: $blue-light

.selected
  background-color: $blue-light

.createdAt
  text-align: right
  color: $gray-normal
  
.from
  font-weight: bold
  color: $blue-darker

.subject
